@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@font-face {
    font-family: "AnonymousPro";
    src: url('../../public/fonts/AnonymousPro-Regular.ttf');
}

::selection {
    background-color: #1851CD;
}


/*Scrollbar styling*/

/* width */
::-webkit-scrollbar {
    width: .3rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #111827;
    border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #303C6C;	
    border-radius: 10px;
  }

/* Custom shepherd styling */
  @font-face {
    font-family: "AnonymousPro";
    src: url('../../public/fonts/AnonymousPro-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.shepherd-button {
	background: #4a5ca5;
	border: 0;
	border-radius: 5px;
	color: hsla(0, 0%, 100%, .75);
	cursor: pointer;
	margin-right: .5rem;
	margin-top: .4rem;
	padding: .2rem 1rem;
	transition: all .5s ease
}

.shepherd-button:not(:disabled):hover {
	background: #25305a;
	color: hsla(0, 0%, 100%, .75)
}


.shepherd-button.shepherd-button-secondary:not(:disabled):hover {
	background: #d6d9db;
	color: rgba(0, 0, 0, .75)
}

.shepherd-button:disabled {
	cursor: not-allowed
}

.shepherd-footer {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius:12px;
	display: flex;
	justify-content: flex-end;
	padding: 0 .75rem .75rem
}

.shepherd-footer .shepherd-button:last-child {
	margin-right: 0
}

.shepherd-cancel-icon {
	background: transparent;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 2em;
	font-weight: 400;
	margin: 0;
	padding: 0;
	transition: color .5s ease
}

.shepherd-cancel-icon:hover {
	color: rgba(0, 0, 0, .75)
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
	color: hsla(0, 0%, 50%, .75)
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
	color: rgba(0, 0, 0, .75)
}

.shepherd-title {
	color: #d5d8db;
	display: flex;
	flex: 1 0 auto;
	font-size: 1rem;
	font-weight: 600;
  font-family: 'Lato', serif;
	margin: 0;
	padding: 0
}

.shepherd-header {
	align-items: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: flex-end;
	line-height: 2em;
	padding: .75rem .75rem 0
}

.shepherd-has-title .shepherd-content .shepherd-header {
	background: #303C6C;
	padding: 1em
}

.shepherd-text {
	color: #b6c0ce;
	font-size: 1rem;
	line-height: 1.3em;
	padding: .75em
}

.shepherd-text p {
	margin-top: 0
}

.shepherd-text p:last-child {
	margin-bottom: 0
}

.shepherd-content {
	border-radius: 5px;
	outline: none;
	padding: 0
}

.shepherd-element {
	background: #303C6C; 
	border-radius: 10px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	max-width: 400px;
	opacity: 0;
	outline: none;
	transition: opacity .3s, visibility .3s;
	visibility: hidden;
	width: 100%;
	z-index: 9999
}

.shepherd-enabled.shepherd-element {
	opacity: 1;
	visibility: visible
}

.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered) {
	opacity: 0;
	pointer-events: none;
	visibility: hidden
}

.shepherd-element,
.shepherd-element *,
.shepherd-element :after,
.shepherd-element :before {
	box-sizing: border-box
}

.shepherd-arrow,
.shepherd-arrow:before {
	height: 16px;
	position: absolute;
	width: 16px;
	z-index: -1
}

.shepherd-arrow:before {
	background: #303C6C;
	content: "";
	transform: rotate(45deg)
}

.shepherd-element[data-popper-placement^=top]>.shepherd-arrow {
	bottom: -8px
}

.shepherd-element[data-popper-placement^=bottom]>.shepherd-arrow {
	top: -8px
}

.shepherd-element[data-popper-placement^=left]>.shepherd-arrow {
	right: -8px
}

.shepherd-element[data-popper-placement^=right]>.shepherd-arrow {
	left: -8px
}

.shepherd-element.shepherd-centered>.shepherd-arrow {
	opacity: 0
}

.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before {
	background-color: #303C6C
}

.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target * {
	pointer-events: none
}

.shepherd-modal-overlay-container {
	height: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	top: 0;
	transition: all .3s ease-out, height 0ms .3s, opacity .3s 0ms;
	width: 100vw;
	z-index: 9997
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
	height: 100vh;
	opacity: .5;
	transform: translateZ(0);
	transition: all .3s ease-out, height 0s 0s, opacity .3s 0s
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible path {
	pointer-events: all
}
